@use "_vars" as *;

footer {
  padding: $spacing-unit 0;

  font-size: $small-font-size;

  background-color: $footer-background;
  color: $footer-text;

  a {
    color: #fff;
    &:hover {
      opacity: 1;
    }
  }

  abbr {
    text-decoration: underline;
    text-decoration-style: solid;
    border-bottom: none;
  }

  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
  }

  .footer-col {
    padding: calc($spacing-unit/2) 0;
  }
  .site-desc {
    width: 500px;

    @include media-query($on-laptop) {
      flex: 1 100%;
    }
  }

  .clustrmaps {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 120px;
    height: 80px;
    
    #clstr_globe {
      display: block !important;
    }
    
    // ClustrMaps 自动生成的元素
    iframe,
    canvas,
    [id^="clstr"] {
      display: block !important;
      max-width: 120px;
      max-height: 80px;
    }
  }
}
