@use "_vars" as *;
@use "sass:color";

.home {
  h1 {
    margin-top: 0;
  }

  h2 {
    font-size: 1.5em;
    border-bottom: none;
    margin-top: 1.2em;
    margin-bottom: 0.5em;
    
    a {
      color: inherit;
    }
  }

  .columns {
    display: flex;
    flex-direction: row;

    .intro {
      flex: 1;
      font-size: 1.1em;

      .status-date {
        display: inline;
        margin-right: 0.5em;
        color: #ff8c00;
        font-size: 0.9em;
        font-weight: 600;
        white-space: nowrap;
      }
    }

    .me {
      margin-left: $spacing-unit;
      margin-bottom: 0;

      font-size: 0.9em;
      text-align: center;

      picture, img {
        width: 220px;
        height: 290px;
        border-radius: 6px;
      }

      ul {
        margin-top: 16px;
      }
    }
  }

  .button {
    color: $brand-color;
    padding: 6px 16px;
    border-radius: 3px;
    border: 1px solid color.adjust($brand-color, $lightness: 20%);

    &:hover {
      opacity: 1;
      text-decoration: none;
      background-color: color.adjust($brand-color, $lightness: 50%);
    }
  }

  .featured-projects {
    font-size: 0.9em;
    display: flex;
    flex-direction: row;
    margin-bottom: 1.5em;

    .project {
      flex-grow: 1;
      flex-basis: 0;

      display: flex;
      flex-direction: column;

      border-radius: 3px;
      padding: 16px;
      border: 1px solid #ddd;

      transition: box-shadow 0.2s ease;

      &:not(:last-child) {
        margin-right: 16px;
      }

      &:hover {
        box-shadow: #aaa 2px 2px 11px;
      }

      .spacer {
        flex: 1;
      }

      .title {
        margin: 0 0 0.6em 0;
        font-size: 1.3em;
        font-weight: bold;
        line-height: 1;
      }

      p {
        font-size: 0.85em;
        margin: 0.7em 0;
        line-height: 1.2;
      }

      .preview-image {
        display: block;
        width: 100%;
        height: 0;
        padding-top: 60%;
        border: 1px solid #f1f1f1;
        background-size: cover;
        background-position: top left;
        transition: background 1.5s;

        &:hover {
          background-position: bottom right;
        }
      }

      .links {
        font-size: 0.8em;

        a {
          margin-right: 0.5em;
          display: inline-block;
        }
      }
    }
  }

  .featured-publications {
    display: flex;
    flex-direction: column;
    gap: 0.3em;
    margin-bottom: 1.5em;

    .publication-card {
      display: grid;
      grid-template-columns: 250px 1fr;
      gap: 1.5em;
      padding: 0.5em 0;
    }

    .thumb {
      display: block;
      width: 100%;
      height: 100%;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        display: block;
      }
    }

    .info {
      display: flex;
      flex-direction: column;
      gap: 0.45em;

      h3 {
        margin: 0;
        font-size: 1.2em;
        line-height: 1.3;
        
        a {
          color: #000;
        }
      }

      .authors {
        margin: 0;
        font-weight: 400;
        color: #000;
        
        a {
          color: #000;
          font-weight: 400;
        }
        
        strong {
          color: #000;
          font-weight: 600;
        }
      }

      .meta {
        margin: 0;
        color: $grey-color;
        font-size: 0.9em;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 0.5em;
        
        .venue-tag {
          display: inline-block;
          padding: 0.15em 0.5em;
          background-color: #f0f0f0;
          border-radius: 4px;
          font-size: 0.85em;
          font-weight: 500;
          color: #666;
        }
      }

      .summary {
        margin: 0;
        color: $text-color;
        font-size: 0.95em;
      }

      .awards {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5em;
        font-size: 0.85em;

        span {
          display: inline-flex;
          align-items: center;
          gap: 0.3em;
          padding: 0.2em 0.6em;
          border-radius: 999px;
          background-color: color.adjust($yellow-color, $lightness: 35%);
          color: #6b4b00;
        }

        .fa-trophy {
          color: #6b4b00;
        }

        .fa-award {
          color: firebrick;
        }
      }

      .actions {
        margin-top: auto;
        display: flex;
        flex-wrap: wrap;
        gap: 0.75em;
        font-size: 0.9em;

        a {
          color: $brand-color;
          font-weight: 500;
          display: inline-flex;
          align-items: center;
          gap: 0.3em;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .news-travel {
    display: flex;
    flex-direction: row;

    font-size: 0.9em;

    & > div {
      flex-grow: 1;
      flex-basis: 0;
    }
  }

  .news {
    ul {
      list-style: none;
      margin-left: 0;

      li {
        margin-bottom: 1em;
      }

      time {
        display: block;
        color: $grey-color;
        font-size: 0.8em;
      }
    }
  }

  .news-scrollable {
    max-height: 150px;
    overflow-y: auto;
    margin-bottom: 0;
    padding: 0.5em 0;

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      background: #f1f1f1;
      border-radius: 4px;
    }

    &::-webkit-scrollbar-thumb {
      background: #c1c1c1;
      border-radius: 4px;

      &:hover {
        background: #a8a8a8;
      }
    }

    .news-list {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0.6em;
        line-height: 1.5;

        &:last-child {
          margin-bottom: 0;
        }

        time {
          color: $grey-color;
          font-size: 0.85em;
          margin-left: 1em;
          margin-right: 1em;
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
    }
  }

  .travel {
    padding-left: $spacing-unit;

    .date {
      white-space: nowrap;
      color: $grey-color;
      padding-right: 1em;
    }
  }

  @include media-query($on-palm) {
    .columns {
      flex-direction: column;
      align-items: center;

      .intro {
        order: 2;
      }
      .me {
        order: 1;
        margin-left: 0;
      }
    }

    .button {
      font-size: 1.1em;
      background-color: color.adjust($brand-color, $lightness: 57%);
    }

    .featured-projects {
      flex-direction: column;

      .project {
        display: block;
        margin-bottom: 16px;

        &:not(:last-child) {
          margin-right: 0;
        }

        .preview-image {
          width: 40%;
          padding-top: 22%;
          float: left;
          margin-right: 18px;
        }
      }
    }

    .news-travel {
      margin-top: $spacing-unit;
      flex-direction: column;

      .travel {
        padding-left: 0;
      }
    }

    .featured-publications {
      .publication-card {
        grid-template-columns: 1fr;
      }

      .thumb {
        height: 220px;
      }
    }
  }
}
